

body {
  padding-top: 54px;
  background-color: #FFFFFF;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-color:#FFFFFF;

  }
}

.navbar {
  background-color:#ff9ea9;
  text-decoration-color: #FFFFFF;
}

.nav-item{
  text-decoration-color: #FFFFFF;
}

.navbar-brand {
text-decoration-color: #FFFFFF;

}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;

}

.header {
  padding-top: 0px;
}
