


h2 {
color:#FC6FC5;
text-align:center;

}


body {
  background-color: #1D1F21;
  background: 
}

p {
  color:#727b82;
}

/*cmonBruh*/
.colored {
  color:#727b82;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img {
  display:inline;
  margin-left: 35%;
  margin-right: 50%;
  width: 40%
}
