

body {
  padding-top: 54px;
  background-color: #e5e6eb;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-color: #a7adba;

  }
}

.navbar {
  background-color:#343d46;
  text-decoration-color: #65737e;
}

.navbar-brand {


}

img {

}

.header {
  padding-top: 150px;
}
