
h1 {
  color: #424242;
}

h2 {
  color: #424242;
  font-size: 25px;
  padding-top: 20px;
}

p {
  color: #424242;
}

ul {
  text-align: auto;
  list-style-type: none;
  padding: 1px;
  border-left: solid 5px pink;
}

body {
  padding-top: 54px;
  background-color: #FFFFFF;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-color:#ffffff;
  }
}

.nav a.hover {
  color: #FFFFFF;
}

.header{
  /* border experimental */
  border-bottom: 8px solid #58d3fb;
}

.search {
  padding-top: 6px;
}

.navbar {
  /* background-color:#50d4ff;
  pink ff9ea9
  blue 58d3fb

   */

  padding: 14px 15px;
  background-color: white;
  border-bottom: 8px solid #58d3fb;
  font-size: 18px;
}

.navbar-item{
  color: #ff9ea9;
}

.nav-link{
  color: #ff9ea9;
}

.navbar .search-container button {
}

.navbar .search-container button:hover {
  background: #ccc;
}

.navbar-brand {
  color: #ff9ea9;
  font-size: 32px;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;

}

button {
  margin: 5px;
}

.footer {
  display:block;

}

.regLabel {
  display:block;
  margin-left: auto;
  margin-right: auto;
}





/* end of css */
